.mobile-nav {
  position: fixed;
  top: 0;
  left: -220px;
  height: 100%;
  width: 220px;
  background: #2e3233;
  color: white;
  z-index: 999;
  transition: transform 200ms ease-in;
}
.slide-open{
  transform:translateX(220px);
}

.mobile-nav a, .mobile-nav ul li {
  display: block;
  height: 44px;
  line-height: 44px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 200;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  border-bottom: 1px solid #3a3f40;
}
.mobile-nav span  {
  font-size: 16px;
  color: white;
}

.nav-overlay {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.mobile-nav i {
  width: 30px;
  font-size: 16px;
}

.mobile-nav a:hover , .mobile-nav ul li:hover {
  background-color: #3a3f40;
}
