<div class="apple-slider black-back">
  <div id="landing-page" class="slide first-slide">

    <div class="column-100">
      <div class="name-container">
        <h1 class="name-title fadeIn">Anthony Wang</h1>
        <h2 class="name-title fadeIn">I am a Software Engineer.</h2>
      </div>
      <div class="deathstar-container fadeIn">
        <div class="deathstar deathstar-float">
          <ul>
            <li />
            <li />
          </ul>
        </div>
      </div>
    </div>

    <div class="learn-container fadeIn">
      <a class="learnmore" onclick="anchor('#basic-info')">Learn More</a>
    </div>
  </div>
</div>

<div class="apple-slider grey-back">
  <div class="slide">
    <div id="basic-info" class="column-100">
      <div class="info-section column-100">
        <h1 class="about-title">About Me</h1>
        <div class="my-information">
          <h2>Hello! I am a <span>Software Engineer</span> with a passion for designing beautiful and functional experiences. I specialize in <span>Front End Development</span> and <span>UI/UX design</span>.</h2>
        </div>

        <div id="lego" class="lego-me">

          <img id="legoboi" src="img/test4.png" alt="legoboi">
          <div class="lego-container">
            <div class="lego1"></div>
            <div class="lego3"></div>
            <div class="lego4"></div>
            <div class="lego5"></div>
            <div class="lego6"></div>
          </div>
          <div class="label-container">
            <div id="right-skills">
              <div class="label1">
                <h2>15% ReactJS</h2>
                <h2>AngularJS</h2>
              </div>
              <div class="label2">
                <h2>10% Sith Lord</h2>
              </div>
              <div class="label3">
                <h2>25% HTML</h2>
                <h2>CSS</h2>
                <h2>JS</h2>
              </div>
            </div>
            <div id="left-skills">
              <div class="label4">
                <h2>10%</h2>
                <h2>Coffee</h2></div>
                <div class="label5">
                  <h2>40%</h2>
                  <h2>Java</h2>
                  <h2>Developer</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="apple-slider grey-back">
    <div class="slide">
      <div id="myWork" class="info-section column-100">
        <h1 class="about-title">Work Experience</h1>
        <div class="work-list">
          <div class="column-33">
            <div class="work-place" style="visibility:hidden;opacity: 0;">
              <img src="img/intuit.png" alt="intuit">
              <h3>Software Engineer</h3>
              <h5>June 2016 - Present</h5>
            </div>
          </div>
          <div class="column-33">
            <div class="work-place" style="visibility:hidden;opacity: 0;">
              <img src="img/coupons.png" alt="coupons">
              <h3>Software Engineer Intern</h3>
              <h5>Summer 2014</h5>
            </div>
          </div>
          <div class="column-33">
            <div class="work-place" style="visibility:hidden;opacity: 0;">
              <img src="img/gl-12-size.png" alt="ucsd">
              <h3>CSE Tutor</h3>
              <h5>Fall 2014 - Winter 2014</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="apple-slider grey-back last-slide">
    <div class="slide">
      <div id="mySkillz" class="info-section column-100">
        <h1 class="about-title">Skills</h1>
        <div class="skill-list">
          <div class="column-33 skill">
            <div class="skill-circle teal" style="visibility:hidden">
              <i class="fa fa-desktop"></i>
            </div>
            <h2 class="skill-title teal_ ">Front End Dev</h2>
            <ul>
              <li>ReactJS</li>
              <li>Flux/Redux</li>
              <li>AngularJS</li>
              <li>PostCSS</li>
              <li>HTML/CSS/Javascript</li>
              <li>JQuery</li>
            </ul>
          </div>
          <div class="column-33 skill">
            <div class="skill-circle dark-blue" style="visibility:hidden">
              <i class="fa fa-server"></i>
            </div>
            <h2 class="skill-title darkblue_ ">Back End Dev</h2>
            <ul>
              <li>Java</li>
              <li>Parse</li>
              <li>Firebase</li>
              <li>NodeJS</li>
              <li>Spring</li>
              <li>MongoDB</li>
              <li>Cassandra</li>
            </ul>
          </div>
          <div class="column-33 skill">
            <div class="skill-circle purple" style="visibility:hidden">
              <i class="fa fa-paint-brush"></i>
            </div>
            <h2 class="skill-title purple_">Other Skills</h2>
            <ul>
              <li>WebPack</li>
              <li>Gulp</li>
              <li>Jekyll</li>
              <li>Hugo</li>
              <li>Roots</li>
              <li>MiddleMan</li>
              <li>Protractor</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="resume">
        <a href="resume2016.pdf" class="resume-dl">Download Resume</a>
      </div>
    </div>
  </div>
</div>

<div class="apple-slider">
  <div id="project-section" class="column-100">
    <div class="mobile-section">
      <h1 class="title">Projects</h1>
    </div>
    <div class="desktop-section">
      <section class="module parallax parallax-1">
        <div class="parallax-container">
          <h1 class="title">Projects</h1>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="apple-slider">
  <div class="slide">
    <div class="project">
      <div class="column-50 project-info">
        <h1>Virtue-Vice</h1>
        <h2>Web App designed to help users keep track of their habits. This web app uses a Node.js server to serve push notifications and Parse as the backend.</h2>
        <div class="visit-container">
          <a href="https://teampowell.parseapp.com/list.html" class="button">Visit</a>
          <a href="#vice" class="button info-button">More Info</a>
        </div>

      </div>
      <div class="column-50 project-info">
        <div class="project-img">
          <img src="img/virtue.png">
        </div>
      </div>
    </div> <!--End of Virtue Vice -->

    <div class="project">
      <div class="column-33 project-info small-project">
        <h1>HTTP 1.1 Server</h1>
        <div class="column-95">
          <h4>Web server written in C++ that supports POST & GET methods, IP blocking, & permissions.</h4>
        </div>
      </div>
      <div class="column-33 project-info small-project">
        <h1>Simple Router</h1>
        <div class="column-95">
          <h4>Software router that can handle raw Ethernet frames and handles packets. The router is able to forward frames via IP Forwarding, generate ICMP messages, and handle ARP, handles checksum, TTL, and caching.</h4>
        </div>
      </div>
      <div class="column-33 project-info small-project">
        <h1>BB8</h1>
        <h2>Simple HTML/CSS animation of BB-8 rolling around.</h2>
        <div class="visit-container">
          <a href="BB8/bb8.html" class="button">Visit</a>
        </div>
      </div>
    </div><!--End of small projects -->

    <div class="project">
      <div class="column-100">
        <div class="column-40 project-info">
          <h1>Tinder Web App</h1>
          <h2>Recreated the Tinder app as a Web App with Node.js.</h2>
          <div class="visit-container">
            <a href="https://morning-coast-9813.herokuapp.com" class="button">Visit</a>
            <a href="#tinder" class="button">More Info</a>
          </div>
        </div>
        <div class="column-60 project-info">
          <div class="project-img">
            <img src="img/tinwebapp.png" alt="tinder">
          </div>
        </div>
      </div>
    </div>  <!--End of tinder -->

    <div class="project">
      <div class="column-33 project-info small-project">
        <h1>Health As a Service</h1>
        <div class="column-95">
          <h4>A continuous health monitoring system written with Spring used to monitor health of services and their dependency service. The service can support different types of Health Endpoints such as JSON, streaming outputs, and HTML.</h4>
        </div>
      </div>
      <div class="column-33 project-info small-project">
        <h1>PayPal Data Generator</h1>
        <div class="column-95">
          <h4>Automated system written with Spring used to create transactions, refunds and send money in PayPal. Each action is imported into Quickbooks Online. Used PayPal API and Selenium HTMLUnit.</h4>
        </div>
      </div>
      <div class="column-33 project-info small-project">
        <h1>Netflix Review Analyzer</h1>
        <div class="column-95">
          <h4>System used to analyze Netflix reviews using MapReduce to Map and Reduce the massive amount of reviews. Written in Java.</h4>
        </div>
      </div>
    </div> <!--End of small projects -->

    <div class="project">
      <div class="column-33 project-info">
        <h1>Adopt Me</h1>
        <h2>Created a service to help users find the perfect pet to adopt!</h2>
      </div>
      <div class="column-65 project-info">
        <div class="project-img">
          <img src="img/adopt.png">
        </div>
      </div>
    </div> <!--End of Adopt Me -->

  </div>
</div>
<div class="apple-slider">
  <div class="slide dj-container">
    <div id="pioneer" class="dj-controller">
      <div class="turntable">
        <div class="buttons">
          <div class="play"></div>
          <div class="cue"></div>
          <div class="pitch">
          </div>
        </div>
        <div class="vinyl blue spin">
          <div class="vinyl-dot"></div>
        </div>
      </div>

      <div class="mixer">
        <div class="ab"></div>

        <div class="knobsnstuff">

          <div class="track">
            <div class="knob-surround">
            </div>
            <div class="knob-surround">
            </div>
            <div class="knob-surround">
            </div>
            <div class="cue-button"></div>
            <div class="volume-level"></div>
          </div>
          <div class="track">
            <div class="knob-surround">
            </div>
            <div class="knob-surround">
            </div>
            <div class="knob-surround">
            </div>
            <div class="cue-button"></div>
            <div class="volume-level"></div>
          </div>
          <div class="track">
            <div class="knob-surround">
            </div>
            <div class="knob-surround">
            </div>
            <div class="knob-surround">
            </div>
            <div class="cue-button"></div>
            <div class="volume-level"></div>
          </div>
          <div class="track">
            <div class="knob-surround">
            </div>
            <div class="knob-surround">
            </div>
            <div class="knob-surround">
            </div>
            <div class="cue-button"></div>
            <div class="volume-level"></div>
          </div>
        </div>
      </div>

      <div class="turntable">
        <div class="buttons">
          <div class="play">
          </div>
          <div class="cue">
          </div>
          <div class="pitch">
          </div>
        </div>
        <div class="vinyl red spin">
          <div class="vinyl-dot"></div>
        </div>
      </div>
    </div>
  </div>
</div>
