<div class="apple-slider first-slide">

  <div class="slide">
    <div class="project ">
      <div class="banner">
        <h1>Playlist Management</h1>
        <h2 class="slogan">Music built from the ground up.</h2>
      </div>
    </div>
  </div> <!-- -->

  <div class="column-100">
    <div class="mobile-section">
      <img src="img/musicapp/mobile4.png" alt="tinder">
    </div>
    <div class="desktop-section">
      <section class="module parallax2 parallax-music">
        <div class="parallax-container">
        </div>
      </section>
    </div>
  </div> <!-- End of Parallax -->
</div>

<div class="apple-slider">
  <div class="slide">
    <div class="project2">
      <div class="info-section column-100">
        <h1 class="about-title">Info</h1>
      </div>
      <div class="link-group">
        <div class="group">

          <div class="column-100 vert-top">
            <h2 class="vert-mid">Focused on redesigning the way users browse for music when choosing what to include in playlists. Interviewed 9+ music listeners to find quirks of modern playlist management. Using this data, we created a competitive analysis to establish what makes this product better.</h2>
          </div>
        </div>

      </div> <!-- End of link group-->
    </div>

    <div class="project2">
      <div class="info-section column-100">
        <h1 class="about-title">Outcome</h1>
      </div>
      <div class="link-group">
        <div class="group">
          <div class="column-20 vert-mid">
            <div class="project-info-circle light-purple">
              <i class="fa fa-eye"></i>
            </div>
          </div>
          <div class="column-80 vert-top">
            <h2 class="vert-mid">The main goal was to minimize the amount of clicks to complete a task while presenting a familiar and recognizable flow.</h2>
            <h3 class="vert-mid">Most users are discouraged from creating their own playlist because the flow is tedious and non-trivial.</h3>
          </div>

        </div>
        <div class="group">
          <div class="column-20 vert-mid">
            <div class="project-info-circle light-purple">
              <i class="fa fa-clock-o"></i>
            </div>
          </div>
          <div class="column-80 vert-top">
            <h2 class="vert-mid">We minimized the time to search for music using general moods and genres.</h2>
            <h3 class="vert-mid">We learned that majority of users are accustomed to this flow from existing services such as Spotify.</h3>
          </div>
          <div class="column-100">
            <div class="desktop-section">
              <section class="module parallax3 parallax-music2">
                <div class="parallax-container">
                </div>
              </section>
            </div>
          </div> <!-- End of Parallax -->
        </div>
        <div class="group">
          <div class="column-20 vert-mid">
            <div class="project-info-circle light-purple">
              <i class="fa fa-users"></i>
            </div>
          </div>
          <div class="column-80 vert-top">
            <h2 class="vert-mid">Discovered most users preferred customized playlists built for the user.</h2>
            <h3 class="vert-mid">This is accomplished with the "Recommend Me" button. This button always pulls up the latest and freshest content built exclusively for the user.</h3>
          </div>
          <div class="column-100">
            <div class="demonstration">
              <img src="img/musicapp/rec.png"/>
            </div>
          </div> 

        </div>

      </div> <!-- End of link group-->
    </div>

  </div>
</div>

<div class="slide">
  <div class="project2">
    <div id="mySkillz" class="info-section column-100">
      <h1 class="about-title">Tools Used</h1>
      <div class="skill-list">

        <div class="column-30 skill">
          <div class="skill-circle purple" style="visibility:hidden">
            <i class="fa fa-paint-brush"></i>
          </div>
            <h2 class="skill-title purple_">Design</h2>
          <ul>
            <li>Axure</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="desktop-section">
  <div class="slide">
    <div class="project">
      <div class="info-section column-100">
        <h1 class="about-title">Screenshots</h1>
      </div>
      <div class="column-100 project-info">
        <div class="photo-carousel">
          <div class="project-img">
            <img src="img/musicapp/mobile1.png">
          </div>
          <div class="project-img">
            <img src="img/musicapp/mobile2.png">
          </div>
          <div class="project-img">
            <img src="img/musicapp/mobile3.png">
          </div>
        </div>

      </div>
    </div> <!--End of Virtue Vice -->

  </div>
</div>
</div>

</div>
<script>
$(document).ready(function(){
  $('.photo-carousel').slick({
    autoplay: true,
    infinite: true,
    speed: 250,
    dots: true
  });
});
</script>
