<div class="apple-slider">
	<div class="slide">
		<div class="column-100">
			<h1 class="title">Photography</h1>
			<div class="photo-container">

				<div class="column-50 photo-album">
					<a href="#photo/album/sanfran">
						<div>
							<img src="photography/sf/sf.jpg" alt="bridge">
						</div>
						<div class="photo-text">
							<span class="title">San Francisco</span>
							<span class="description">Blah blah blah</span>
						</div>
					</a>
				</div>

				<div class="column-50 photo-album">
					<a href="#photo/album/japan">
						<div>
							<img src="photography/japan/japan.jpg" alt="bridge">
						</div>
						<div class="photo-text">
							<span class="title">Japan</span>
							<span class="description">Blah blah blah</span>
						</div>
					</a>
				</div>
				<div class="column-50 photo-album">
					<a href="#photo/album/ucsd">
						<div>
							<img src="photography/ucsd/ucsd.jpg" alt="bridge">
						</div>
						<div class="photo-text">
							<span class="title">UCSD</span>
							<span class="description">Blah blah blah</span>
						</div>
					</a>
				</div>
				<div class="column-50 photo-album">
					<a href="#photo/album/cats">
						<div>
							<img src="photography/cats/cat.jpg" alt="bridge">
						</div>
						<div class="photo-text">
							<span class="title">Cats</span>
							<span class="description">Blah blah blah</span>
						</div>
					</a>
				</div>
				<div class="column-50 photo-album">
					<a href="#photo/album/china">
						<div>
							<img src="photography/china/china.jpg" alt="bridge">
						</div>
						<div class="photo-text">
							<span class="title">China</span>
							<span class="description">Blah blah blah</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
