<div class="apple-slider grey-back">
	<div class="slide">
		<div class="column-100 portfolio-container">
			<div class="name-container">
				<h1 class="name-title fadeIn">Portfolio</h1>
			</div>
			<!--div class="ucsd-scene-container fadeIn">
				<div class="sun"></div>
				<div class="cloud">
					<div class="cloud1">
						<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>

				<div class="bird bird1">
					<div class="right-wing"></div>
					<div class="left-wing"></div>
				</div>
				<div class="bird bird2">
					<div class="right-wing"></div>
					<div class="left-wing"></div>
				</div>
			</div-->

			<div class="column-33 google-card fadeIn">
				<div class="card card--big">
					<div class="card__image">
						<img src="img/tinwebapp.png" alt="bridge">
					</div>
					<h2 class="card__title">Tinder Web App</h2>
					<p class="card__text">Recreated the Tinder app as a Web App with Node.js.</p>
					<div class="card__action-bar">
						<button class="card__button">Learn More</button>
						<a href="https://morning-coast-9813.herokuapp.com" class="card__button">Visit</a>
					</div>
				</div>
			</div>
			<div class="column-33 google-card fadeIn">
				<div class="card card--big">
					<div class="card__image">
						<img src="img/virtue.png" alt="bridge">
					</div>
					<h2 class="card__title">Virtue-Vice</h2>
					<p class="card__text">Web App designed to help users keep track of their habits.</p>
					<div class="card__action-bar">
						<button class="card__button">Learn More</button>
						<a href="https://teampowell.parseapp.com/list.html" class="card__button">Visit</a>
					</div>
				</div>
			</div>
			<div class="column-33 google-card fadeIn">
				<div class="card card--big">
					<div class="card__image">
						<img src="img/adopt.png" alt="bridge">
					</div>
					<h2 class="card__title">Adopt Me</h2>
					<p class="card__text">Created a service to help users find the perfect pet to adopt!</p>
					<div class="card__action-bar">
						<button class="card__button">Learn More</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
